
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,800&display=swap');


:root {
  --purple: hsl(259, 100%, 65%);
  --red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);

  font-size: 16px;
}

/* @font-face {
  font-family: "Poppins";
  src: url("./build/assets/fonts/Poppins-Italic.ttf") format("ttf"), 
       url("./build/assets/assets/fonts/Poppins-ExtraBoldItalic.ttf") format("ttf"),
       url("./build/assets/assets/fonts/Poppins-Bold.ttf") format("ttf");
} */


* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: inherit;
}

#root {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  background-color: var(--off-white);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.app {
 background-color: var(--white);
 width: max(50vw, 20.5rem);
 border-radius: 1rem 1rem 8rem 1rem;
 margin: 0 .5rem;
 padding: 2.5rem;
}

@media(max-width: 600px) {
  .app {
    padding: 3rem 1.5rem;
  }
}

form {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .75rem;
  color: var(--smokey-grey);
  letter-spacing: .25rem;
  width: min(12em, 30%);
}

input {
  color: var(--off-black);
  font-size: 2rem;
  font-weight: 700;
  border: 1px solid var(--light-grey);
  padding: 0.5rem 1.25rem;
  border-radius: .25em;
  margin: .25rem 0;
  cursor: pointer;
}

.hasError {
  color: var(--red);
}

.hasError input {
  border-color: red;
}

.error {

}

input:hover {
  border-color: var(--off-black);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--smokey-grey);
}

@media(max-width: 600px) {
  form {
    gap: 1rem;
  }
}

.divider {
  display: flex;
  align-items: center;
}

hr {
  flex: 1 1 15rem;
  border-color: var(--light-grey);
  border-style: solid;
}

.arrow {
  background-color: var(--purple);
  border-radius: 50%;
  flex: 0 0 4rem;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  border: none;
  width: 3.5rem;
  padding: 1rem;
}

.arrow:hover {
  background-color: var(--off-black);
  border: none;
}

.mobile-only {
  display: none;
}

@media(max-width: 600px) {
  .arrow {
    width: 3.75rem;
    padding: 1.25rem;
  }

  .mobile-only {
    display: block;
  }
}



.output {
  color: var(--off-black);
  /* font-size: 4rem; */
  font-size: 3.5rem;
  font-style: italic;
  font-weight: 800;
  line-height: 1em;
  letter-spacing: -.1rem;
  font-family: "Poppins", sans-serif;
  

}

.purple {
  color: var(--purple);
  letter-spacing: .1rem;
}

.purple:not(.no-output) {
  animation-duration: 3s;
  animation-name: background-pulse;
}

@keyframes background-pulse {
  from {
    color: var(--white);
  }

  to {
    color: var(--purple);

  }
} 
