@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root {
  --purple: hsl(259, 100%, 65%);
  --red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);

  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: inherit;
}

#root {
  background-color: var(--off-white);
  min-height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@media(max-width: 600px) {
  #root {
    align-content: flex-start;
    padding-top: 5.5rem;
  }
}

.app {
 background-color: var(--white);
 max-width: 52.5rem;
 width: max(67vw, 21.5rem);
 border-radius: 1rem 1rem 11rem 1rem;
 margin: 0 .5rem;
 padding: 3.35rem;
}

@media(max-width: 600px) {
  .app {
    padding: 3rem 1.5rem;
  }
}

@media(min-width: 1200px) {
  .app {
    width: max(58vw);
  }
}

form {
  display: flex;
  flex-direction: row;
  gap: min(5%, 2rem);
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  text-transform: uppercase;
  font-size: clamp(.75rem ,1.35vw, 1rem);
  color: var(--smokey-grey);
  letter-spacing: .25em;
  width: min(10rem, 30%);
}

input {
  color: var(--off-black);
  border: 1px solid var(--light-grey);
  border-radius: .25em;
  margin: .25rem 0;
  cursor: pointer;
  font-size: clamp(1.25rem, 3.5vw, 2rem);
  padding: .75rem 15%;
}

.hasError {
  color: var(--red);
}

.hasError input {
  border-color: red;
}

.error {
  font-weight: 400;
  font-style: italic;
  text-transform: none;
  letter-spacing: normal;
}

input:hover {
  border-color: var(--off-black);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--smokey-grey);
}

@media(max-width: 600px) {
  form {
    gap: 1rem;
  }
}

.divider {
  display: flex;
  align-items: center;
  margin: -.5rem;
}

hr {
  flex: 2 1 10rem;
  border-color: var(--light-grey);
  border-style: solid;
}

.arrow {
  background-color: var(--purple);
  border-radius: 50%;
  flex: 0 2 6rem;
  padding: 1.5rem;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  border: none;
  width: 3.5rem;
}

.arrow:hover {
  background-color: var(--off-black);
  border: none;
}

.mobile-only {
  display: none;
  flex-grow: 0;
  flex-shrink: 1;
}

@media(max-width: 1200px) {
  .divider {
    padding: 2rem 0 2.5rem 0;
  }
  .arrow {
    flex: 0 0 4rem;
    padding: 1.25rem;
  }
  .mobile-only {
    display: block;
  }
}

.output {
  color: var(--off-black);
  font-style: italic;
  font-weight: 800;
  line-height: 1.1em;
  letter-spacing: -.1rem;
  font-family: "Poppins", sans-serif;
  font-size: clamp(3.5rem, 9.25vw, 6.5rem)
}

.purple {
  color: var(--purple);
  margin-right: -.1em; 
}

.purple:not(.no-output) {
  animation-duration: 3s;
  animation-name: fade-in;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@keyframes fade-in {
  from {
    color: var(--white);
  }

  to {
    color: var(--purple);

  }
} 
